body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  /* color: #000; */
}

main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  display: flex;
  flex-flow: column;
}
header {
  width: 100%;
  margin: 2vh auto 0;
}
header > * {
  text-align: center;
  margin:  0 auto;
}
.current p {
  margin: 0;
  text-align: right;
}
.current p:first-child {
  font-size: 0.8em;
}
.current p:last-child {
  font-size: 1.3em;
}
input.name {
  display: inline-block !important;
  margin-bottom: 0;
  box-sizing: border-box;
}

.player-names p {
  display: inline-block;
  font-size: 1.2em;
  margin: 0 6px 0 0;
}
section {
  display: grid;
  grid-template: repeat(3, 1fr) /repeat(3, 1fr);
  grid-gap: 1vw;
  max-width: 600px;
  width: 96vw;
  max-height: 600px;
  height: 96vw;
  margin: 0 auto;
}
section > div {
  background: #8b8b8b;
}

.free:hover {
  background: #babfbb;
}

.p-two {
  background: #db5240;
}

.p-one {
  background: #5e3df8;
}

.controls {
  box-sizing: border-box;
  margin: 2vh auto;
  /* padding: 0 2vw; */
  max-width: 600px;
  width: 96vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board-size {
  display: inline-block;
}
.board-size button {
  padding: 10px 15px;
}
.board-size button:last-child {
  margin-right: 0;
}

.reset-pop {
  display: none;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.log {
  flex: 2;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background: #333232;
  box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.8);
}
.log > article {
  overflow-y: scroll;
  flex: 2;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 0 2vw;
  color: #edede1;
  font-family: monospace;
  font-size:  0.9em;
  line-height: 1.4;
}

h1, h2, h3, div, p, button {
  color: #222;
}
